.manager_trip_create_button {
  background-color: var(--purple3);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
}

.manager_trip_create_button:hover {
  background-color: var(--purple4);
}

.manager_trip_create_button_icon {
  margin-right: 8px;
  font-size: 2rem;
}

.manager_trip_create_search {
  display: flex;
  justify-content: space-between; /* Phân bố đều các phần tử */
  width: calc(100% - 200px); /* Chiều rộng còn lại sau khi trừ thanh menu */
  margin-left: 200px; /* Dịch sang phải để tránh bị che khuất */
}

.manager_trip_create {
  /* background-color: aqua; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.manager_trip_search {
  display: flex;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #6c8c7b48;
}

.manager_trip_search_input,
.manager_trip_search_select {
    flex: 1;
    margin-right: 10px;
}

.manager_trip_search_input:last-child,
.manager_trip_search_select:last-child {
    margin-right: 0; 
}

.manager_trip_search_button {
  margin: auto 16px;
  background-color: var(--purple3);
  transition: background-color 0.3s ease;
}

.manager_trip_search_button:hover {
  background-color: var(--purple2) !important;
}

.manager_trip_card {
  border: 1px solid #ddd;
  padding: 16px;
  width: 100%;
  border-radius: 8px;
  margin-bottom: 16px;
  max-height: fit-content;
}

.manager_trip_title {
  font-size: 1.3em;
  color: var(--purple1);
  margin-bottom: 8px;

  b {
    color: rgb(19, 6, 32);
  }
}

.manager_trip_list {
  max-height: 238px;
  /* Chiều cao tối đa cho danh sách */
  overflow-y: auto;
  /* Kích hoạt scrollbar */
  scroll-snap-type: y mandatory;
  /* Bật chế độ snap scrolling theo chiều dọc */
  padding-right: 10px;
  /* Tạo khoảng trống tránh che bởi scrollbar */
}

.manager_trip_item {
  display: flex;
  align-items: center;
  scroll-snap-type: center;
}

.manager_trip_image {
  width: 60px;
  /* Chiều rộng ảnh nhỏ */
  height: 60px;
  /* Chiều cao ảnh nhỏ */
  object-fit: cover;
  /* Giữ tỷ lệ ảnh */
  margin-right: 16px;
  /* Khoảng cách giữa ảnh và nội dung */
}

.manager_trip_content {
  flex-grow: 1;
}

.manager_trip_action {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.manager_trip_button {
  width: 8rem;
  font-size: medium;
  background-color: var(--purple1);
}