.manager_trip_create_button {
  background-color: var(--purple1);
  border: none;
  padding: 5px;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
  width: 45px;
  svg {
    width: 100%;
    height: 100%;
  }
}

.manager_trip_card {
  border: 1px solid #ddd;
  padding: 16px;
  width: 100%;
  border-radius: 8px;
  margin-bottom: 16px;
  max-height: 50em;
  .ant-card-body {
    padding: 0;
  }
}

.manager_trip_title {
  font-size: 1.3em;
  color: var(--purple1);
  margin-bottom: 8px;
  b {
    color: rgb(19, 6, 32);
  }
}
.manager_trip_list {
  max-height: 238px; /* Chiều cao tối đa cho danh sách */
  overflow-y: auto; /* Kích hoạt scrollbar */
  scroll-snap-type: y mandatory; /* Bật chế độ snap scrolling theo chiều dọc */
  padding-right: 10px; /* Tạo khoảng trống tránh che bởi scrollbar */
}

.manager_trip_item {
  display: flex;
  align-items: center;
  scroll-snap-type: center;
}

.manager_trip_image {
  width: 60px; /* Chiều rộng ảnh nhỏ */
  height: 60px; /* Chiều cao ảnh nhỏ */
  object-fit: cover; /* Giữ tỷ lệ ảnh */
  margin-right: 16px; /* Khoảng cách giữa ảnh và nội dung */
}

.manager_trip_content {
  flex-grow: 1;
}

.manager_trip_action {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.manager_trip_button {
  width: 8rem;
  font-size: medium;
  background-color: var(--purple1);
}
