.container {
    height: 100vh;
    background-color: transparent;
}

.box_table {
    display: flex;
    flex-direction: column;
}

.filter {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}

.OrderKois_btn {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
    background-color: #ffb696;
}

.title {
    font-size: 24px;
    margin-bottom: 0.5rem;
}

.img_first_farm {
    width: 3rem;
    object-fit: cover;
    aspect-ratio: 1/1;
    border: 1px solid #ccc;
    border-radius: 7%;
}

.status {
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border-radius: 0.5rem;
    text-align: center;
}

.status.status_pending_confirmation {
    background-color: #f2c94c;
}

.status.status_pending {
    background-color: #f2c94c;
}

.status.status_awaiting_payment {
    background-color: #9baff0;
}

.status.status_in_progress {
    background-color: #98ffab;
}

.status.status_check_in {
    background-color: #3bdc4074;
}

.status.status_completed {
    background-color: #b3baef;
}

.status.status_canceled {
    background-color: #e53935;
}

.status.status_on_delivery {
    background-color: #375ca1ab;
    color: #fff;
}

.button {
    border: none;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.038);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.538);
    transition: background-color 0.3s;
}

.update_btn {
    background-color: hsla(226, 74%, 77%, 0.525);
}

.update_btn:hover {
    background-color: hsla(226, 74%, 77%, 0.757);
}

.delete_btn {
    border: 0.1rem dashed #e53935;
    color: #e53935;
}

.delete_btn:hover {
    background-color: #e14643;
    color: #fff;
}

.disabled_btn {
    cursor: not-allowed;
    opacity: 0.9;
}

.list_order_detail {
    list-style-type: none;
}

.list_order_detail_item {
    background-color: #3bdc4074;
    width: 100%;
}

.modal_content {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 0.5rem;
}

label {
    font-size: 1.3rem;
    font-weight: 600;
    margin-right: 0.5rem;
}

input {
    font-size: 1.3rem;
    margin-right: 0.5rem;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    background-color: #f2f2f288;
    border: 1px solid #ccc;
}

/* Modal Choose Kois */
.table_kois {
    width: 100%;
    max-height: 35rem;
    overflow-y: auto;

    .img_Koi {
        width: 5rem;
        object-fit: cover;
        aspect-ratio: 3/4;
        border: 1px solid #ccc;
        border-radius: 7%;
        transform: rotate(90deg);
    }
}

/* drawer view details */

.booking_info,
.trip_info {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem;

    p {
        font-size: 1.3rem;
        margin: 0.5rem 0;
    }
}

.total_price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    span {
        font-size: 2rem;
    }
}

.farm_row {
    margin-top: 1rem;
    width: 100%;
}

.farm_list {
    width: 100%;
    max-height: 17.5rem;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}

.farm {
    display: flex;
    align-items: center;
    width: 100%;
    scroll-snap-type: center;
}

.farm_image {
    width: 4.2rem;
    object-fit: cover;
    aspect-ratio: 1/1;
    border: 1px solid #ccc;
    border-radius: 7%;
    margin-right: 1rem;
}

.farm_content {
    width: 100%;
}


.file_preview {
    background-color: #ffcece5f;
    height: 10rem;
    width: 10rem;
    object-fit: cover;
    border: 1px solid #ccc;
    border-radius: 7%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    p {
        /* background-color: #12a52d; */
        font-weight: 750;
        text-align: center;
        width: 100%;
        font-size: 0.85rem;
        overflow-wrap: break-word;
    }
}

.pdf_preview {
    /* background-color: #98ffab; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
}

.file_preview_image {
    width: 100%;
    height: 100%;
    padding: 0.5rem;
}