.account_profile {
  display: flex;
  flex-direction: column;
  align-content: center;
  overflow-x: hidden;
  height: 100vh;
}

.account_profile_content {
  width: 100%;
  padding: 0 18rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-top: 1rem;
}

.account_profile_content_avatar {
  display: flex;
  justify-content: center;
}

.account_profile_content_avatar_img {
  display: block;
  border-radius: 50%;
  width: 200px;
  animation: spin 40s linear infinite;
  filter: drop-shadow(0 0 10px rgba(52, 39, 39, 0.5));
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}

.img_first_farm {
  width: 3rem;
  object-fit: cover;
  aspect-ratio: 1/1;
  border: 1px solid #ccc;
  border-radius: 7%;
}

.account_profile_content_details {
  margin-top: 1rem;
  display: flex;

  span {
    color: var(--purple1);
  }
}

.account_profile_content_label {
  font-size: 1.2rem;
  padding-left: 3em;
  width: 50%;
}

.account_profile_content_content {
  font-size: 1.2rem;
}

.account_profile_content_button {
  display: flex;
  justify-content: center;
}

.account_profile_content button {
  margin-top: 1rem;
  width: 30%;
  transition: 0.3s;
}

.status {
  display: inline-block;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  text-align: center;
}

.status.status_pending {
  background-color: #f2c94c;
}

.status.status_awaiting_payment {
  background-color: #9baff0;
}

.status.status_in_progress {
  background-color: #8bc34a;
}

.status.status_check_in {
  background-color: #3bdc4074;
}

.status.status_completed {
  background-color: #b3baef;
}

.status.status_canceled {
  background-color: #e53935;
}

/* status orders */
.status.status_on_delivery {
  background-color: #18c9ff81;
}

.button {
  border: none;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.038);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.538);
  transition: background-color 0.3s;
}

.update_btn {
  background-color: hsla(226, 74%, 77%, 0.525);
}